*{
	margin:0;
	padding:0;
}

body, html {
	margin:0;
	font-family: Arial;
	font-size: 17px;
	color: black;
	line-height: 1.6;
	text-align: center;
	background: #FFF4EA;
	font-family: 'PT Sans Narrow', sans-serif;
	background-attachment: fixed;
    flex-wrap: wrap;
}

#header{
	background-image: url('pexels-photo-678289.jpeg');
	background-size: cover; 
	background-position: center;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:0 20px;
	color: blanchedalmond;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Quicksand', sans-serif;
	text-emphasis: center;
}

#header h1{
	font-size: 50px;
}

#header p{
	font-size: 20 px;
}

#header .button{
	font-size: 18px;
	text-decoration:none;
	color:rgb(255, 255, 255);
	border: rgb(255, 255, 255) 1px solid;
	padding: 2px 20px;
	border-radius: 10px;
	margin-top: 10px;

}

#header .button:hover{
	background: orangered;
}

#img1{
    background-image: url('abstract-architecture-background-194096.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    flex-grow:1;
}
#img1 h1{
    font-size: 50px;
    color: white;
}

#img1 p{
    font-size: 20px;
    color: white;
}

#img1 .button1{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border:orange 1px solid;
    padding: 2px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#img1 .button1:hover{
    background: orangered;
    color:#fff;
}


#img2{
    background-image: url('pexels-photo-276514.jpeg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    flex-grow:1;
}
#img2 h1{
    font-size: 50px;
    color: white;
}

#img2 p{
    font-size: 20px;
    color: white;
}

#img2 .button2{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border:orange 1px solid;
    padding: 2px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#img2 .button1:hover{
    background: orangered;
    color:#fff;
}

#img3{
    background-image: url('abstract-brick-bricks-207204.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    flex-grow:1;
}
#img3 h1{
    font-size: 50px;
    color: white;
}

#img3 p{
    font-size: 20px;
    color: white;
}

#img3 .button3{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border:orange 1px solid;
    padding: 2px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#img3 .button3:hover{
    background: orangered;
    color:#fff;
}



#navbar {
	margin:auto;
	width:1340px;
	height: 35px;
	font-family: 'PT Sansjustify-content: space-between;Narrow', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Questrial', sans-serif;
	font-family: 'Source Code Pro', monospace;
	display: flex;
	justify-content: center; 
	background:#FF7D00; 
	color: coral;

	}


#navbar a{
	color:white;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
}
ol, ol {
	list-style:none;
}

.nav li a {
	background-color:#FF7D00;
	color:#fff;
	background-size: cover;
	background-position: center;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav > li {
	float:left;
}

.nav li ol {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ol {
	display:block;
}

.nav li ol li {
	position:relative;
}

.nav li ol li ol {
	right:-140px;
	top:0px;
}

#section-a{
	padding: 20px;
	color: black;
	text-align:center;
	align-content : center;
}

#section-b{
	color: black;
	padding: 30px;
    text-align: center;

}

#section-c{
    
    display: flex;
	color: black;
	padding: 15px;
	background:#FDA947 ;
	text-align: center;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-grow:1;
    background-size: cover; 
	background-position: center;
	
}
#section-c div{
    padding: 20;
}
#section-c .box-1, #section-c .box-3 {
	color:black;
    display: flex;
}

#section-c .box-2{
	background: #fff;
	padding: 20;

}

 
#section-d{
	color: black;
	padding: 30px;
    text-align: center;

}
#section-e{
	color: black;
	padding: 30px;
    text-align: center;

}
#section-f{
    color: black;
	padding: 30px;
    text-align: center;
    
}

#nombre{

font-family: 'Bree Serif', serif;
text-align: left;
float: left;
background-color: ##FF7D00;
    
}


/*botones imagenes*/

#menu{
    display: flex;
    flex-direction: row-reverse;
   justify-content: space-around;
    list-style: none;
    background-attachment: fixed;
    flex-grow:1;
    
}


#menu .button3{
	font-size: 18px;
	text-decoration:none;
	color: black;
	padding: 2px 20px;
	border-radius: 10px;
    margin-top: 10px;
    width: 150px;

}

#menu .button3:hover{
    background: orange;
   
}

#menu a{
    text-decoration: none;
    color: black;

}

#menu .button2{
	font-size: 18px;
	text-decoration:none;
	color:rgb(255, 255, 255);
	border: black 1px solid;
	padding: 2px 50px;
	border-radius: 10px;
    margin-top: 10px;
    width: 150px;
}

#menu .button2:hover{
	background: orange;
}

#menu a{
    text-decoration: none;
}

#menu .button1{
	font-size: 18px;
	text-decoration:none;
	color:rgb(255, 255, 255);
	border: black 1px solid;
	padding: 2px 20px;
	border-radius: 10px;
    margin-top: 10px;
    width: 150px;
}

#menu .button1:hover{
	background: orange;
}

#menu a{
    text-decoration: none;
}

/*botones segundos de las imagenes*/
#menu1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    list-style: none;
    background-attachment: fixed;
    flex-grow:1;
}


#menu1 .button3{
	font-size: 18px;
	text-decoration:none;
	color: black;
	border: black 1px solid;
	padding: 2px 20px;
	border-radius: 10px;
    margin-top: 10px;
    width: 150px;

}

#menu1 .button3:hover{
    background: orange;
   
}

#menu1 a{
    text-decoration: none;
    color: black;

}

#menu1 .button2{
	font-size: 18px;
	text-decoration:none;
	color:black;
	border: black 1px solid;
	padding: 2px 20px;
	border-radius: 10px;
    margin-top: 10px;
    width: 150px;


}

#menu1 .button2:hover{
	background: orange;
}

#menu1 a{
    text-decoration: none;
}

#menu1 .button1{
	font-size: 18px;
	text-decoration:none;
	color:rgb(255, 255, 255);
	border: black 1px solid;
	padding: 2px 20px;
	border-radius: 10px;
    margin-top: 10px;
    width: 150px;


}

#menu1 .button1:hover{
	background: orange;
}

#menu1 a{
    text-decoration: none;
} 

ul#flex-container{
    list-style-type:none ;
    margin:0;padding: 0;
    display:flex;
    flex-wrap:wrap;
} 
ul li{
    flex-grow: 1;
    width: 250px;
    padding-top: 45px;
    color:#fff;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
    margin: 0;padding: 0;
    position: relative;
    justify-content: space-between;
}

ul li img{
    width: 90%;
}
ul li a span{
    position: absolute;
    color: #fff;
    bottom: 7px;
    left: 15px;
    font-size: .6em;
    z-index: 3;
    font-family: 'Raleway';
}   
ul li:after{
    content:'';
    position: absolute;
    left: 5%; top:0;
    width: 90%;
    height: 100%;
    display:inline-block;
    cursor: pointer;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 5%, rgba(0,0,0,0.02) 8%, rgba(0,0,0,0.03) 9%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 5%,rgba(0,0,0,0.02) 8%,rgba(0,0,0,0.03) 9%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,0.02) 8%,rgba(0,0,0,0.03) 9%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    
}


ul li:hover .magnify{
    opacity: 100 !important;
    
}
ul li:hover{
    opacity: .8;
}